:root {
  --primary-color: #1e40af;
  --secondary-color: #dbeafe;
}

*{
  margin: 0;
  padding: 0;
}

.wrapper{
  overflow-x: hidden;
  overflow-y: auto;  
  background-image: url("cars.webp");  
}

.wrapper h1{
  padding: 10px;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wrapper p{
  text-align: center;
  margin-top: 7px;
  font-weight: bold;
}

.wrapper .main{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.wrapper .form-container{
  width: 320px;
  height: 420px;
  background-color: var(--secondary-color);
  margin: 20px auto;
  padding: 20px; 
  border-radius: 10px;  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper .form-container .btn{
  width: 100%;   
}

.wrapper .view-container{
  width: 650px;    
  background-color: var(--secondary-color);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table th {
  color: white;
}

thead {
  background-color: var(--primary-color);
}

.delete-btn{
  color: red;
  cursor: pointer;
}

tbody{
  margin-top: 25px;
}
